$insurance-border: 1px solid #0073ae;

.home-insurances {
  .gallery-item img {
    max-width: 100%;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .elementor-image-gallery .gallery-item {
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 33%;
    padding: 10px;
    border-right: $insurance-border;
    border-bottom: $insurance-border;
    &:nth-child(3n) {
      border-right: none;
    }
    &:last-child {
      border-bottom: none;
      border-left: $insurance-border;
    }
  }

  @include breakpoint(sm) {
    // border-top: $insurance-border;
    .gallery-item img {
      max-width: 150px;
    }
    .elementor-image-gallery .gallery-item {
      min-height: 150px;
      border-bottom: none;
    }

    .elementor-image-gallery .gallery-item:nth-child(n+5) {
      border-top: $insurance-border;
    }

    .elementor-image-gallery .gallery-item:not(:last-child) {
      border-right: $insurance-border;
    }

    .elementor-image-gallery .gallery-item:nth-child(5) {
      border-right: none;
      border-top: none;
    }
    .elementor-image-gallery .gallery-item:last-child {
      border-left: none;
      border-right: none;
    }
  }
}