.home-services {
  .elementor-widget-heading .elementor-size-medium:before {
    background-color: #fff;
  }
  &__grid {
    .elementor-icon-box-title {
      margin-bottom: 10px;
    }
    @include breakpoint(sm) {
      .elementor-icon-box-title {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        min-height: 75px;
      }
      .elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
        padding: 0;
      }
      .elementor-widget-icon-box {
        margin-bottom: 0 !important;
        min-height: 415px;
        border-right: 1px solid #fff;
        padding: 30px;
        &:not(:last-child) {
          border-bottom: 1px solid #fff;
        }
      }
      .elementor-column:last-child .elementor-widget-icon-box {
        border-right: none;
      }
    }
  }
}