.skew-icon-widget {
  position: relative;
  text-align: center;
  color: #fff;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80%;
    background-color: #0073ae;
    transform: skew(2deg, 2deg);
  }
  &--border {
    color: #000;
    &:before {
      border-width: 1px;
      border-color: rgb(0, 115, 174);
      border-style: solid;
      background-color: rgb(231, 238, 255);
    }
  }
  &__image {
    width: 65px;
  }
  &__inner {
    position: relative;
    z-index: 1;
    padding: 30px 15px;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 110px;
    border-width: 1px;
    border-color: rgb(0, 115, 174);
    border-style: solid;
    border-radius: 50%;
    margin: 0 auto;
    background-color: #fff;
  }
  &__title {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  &__content {
    max-width: 250px;
    margin: 0 auto;
  }

  @include breakpoint(sm) {
    &__content {
      min-height: 200px;
    }
    &__image {
      width: 96px;
    }
    &__header {
      width: 190px;
      height: 190px;
      margin-bottom: 75px;
    }
    &__title {
      font-size: 30px;
      max-width: 85%;
    }
    &__inner {
      padding-bottom: 50px;
    }
  }
}